[user]
    name = M.Emre Nefesli
    email = emrenefesli@outlook.com
[core]
    editor = vim
	  excludesfile = /Users/jasyuiop/.gitignore_global
[init]
    defaultBranch = main
[color]
	  ui = auto
[web]
    browser = firefox
[credential]
    helper = osxkeychain
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[alias]
    d = difftool
[pull]
	rebase = false
