""" Settings -------------------
set nu
set relativenumber
set incsearch
set hlsearch
set showmode
set showcmd
set scrolloff=999
set history=100
set smartcase
set clipboard^=unnamed
set clipboard^=unnamedplus
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" Map leader to space ---------------------
let mapleader=","

""" Plugins  --------------------------------
set commentary

""" Keymap -----------------------------

" Fast save / quit
nnoremap <leader>w :w!<cr>
nnoremap <silent> <leader>q :q!<CR>

" disable search highlighting with <space><space> when refreshing screen
nnoremap <C-l> :nohl<CR>

" Don't use Ex mode, use Q for formatting.
map Q gq

" Same when moving up and down
noremap <C-d> <C-d>zz
noremap <C-u> <C-u>zz

" Search mappings: These will make it so that going to the next one in a
" search will center on the line it's found in.
nnoremap n nzzzv
nnoremap N Nzzzv

" Exit on jj and jk
imap jk <Esc>
imap jj <Esc>

" Act like D and C
map Y y$
